<ul>
  <% if ::Refinery::Faqs::Admin::FaqsController.searchable? %>
    <li>
      <%= render '/refinery/admin/search', :url => refinery.faqs_admin_faqs_path %>
    </li>
  <% end %>
  <li>
    <%= link_to t('.create_new'), refinery.new_faqs_admin_faq_path,
                 :class => "add_icon" %>
  </li>
<% if !searching? && ::Refinery::Faqs::Admin::FaqsController.sortable? && ::Refinery::Faqs::Faq.any? %>
  <li>
    <%= link_to t('.reorder', :what => "Faqs"),
                 refinery.faqs_admin_faqs_path,
                 :id => "reorder_action",
                 :class => "reorder_icon" %>

    <%= link_to t('.reorder_done', :what => "Faqs"),
                 refinery.faqs_admin_faqs_path,
                 :id => "reorder_action_done",
                 :style => "display: none;",
                 :class => "reorder_icon" %>
  </li>
<% end %>
</ul>
